{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-runtime"
  ],
  "presets": ["@babel/preset-flow"],
  "env": {
    "browser-cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": "commonjs",
            "loose": true
          }
        ]
      ]
    },
    "browser-esm": {
      "plugins": [
        ["@babel/plugin-transform-runtime", { "useESModules": true }]
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": false,
            "loose": true
          }
        ]
      ]
    },
    "electron-renderer": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "electron": "2.0"
            },
            "loose": true
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": 8
            },
            "modules": "commonjs",
            "loose": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
